@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.food-munch-logo{
    width: 80px;
    height: 70px;
}


.heading{
    color: #ffffff;
    font-family: "Roboto";
    font-weight:300;
    font-size: 45px;
}

.banner-caption{
    color: white;
    font-family: "Roboto";
    font-size: 24px;
    font-weight:300;
}
.custom-button{
    height: 40px;
    width: 136px;
    color: white;
    background-color: #d0b200;
    border-radius: 8px;
    border-width: 0;
    margin-right: 10px;
    font-family: "Roboto";
}

.custom-outline-button{
    color: #d0b200;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    width: 136px;
    height: 40px;
    border-color: #d0b200;
    
}

#navItem1{
    color: #323f4b;
    font-family: "Roboto";

}
#navItem2{
    color:#323f4b;
    font-family: "Roboto";

}
#navItem3{
    color: #323f4b;
    font-family: "Roboto";
}
#navItem4{
    color: #323f4b;
    font-family: "Roboto";
}
.banner-section-bg-container{
    background-size: cover;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
}
